* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  list-style: none;
  margin: 30px 10px;

}


ul a {
  align-self: stretch;
  text-decoration: none;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;

}

ul a:hover {
    background-color: black;
    color: white;
}


#main-content {
    margin-left: 30%;
    margin-right: 60px;
}

section {
    margin-top: 30px;
    height: 100vh;
    letter-spacing: 2px;
    line-height: 25px;
}

h2 {
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    margin-bottom: 15px;
}

.btn-upp {
  /* display: none; Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 40px; /* Place the button at the bottom of the page */
  right: 10px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #555; /* Set a background color */
  color: white; 
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

.btn-upp:hover {
    background-color: black; 
    color: white;
}






