* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.list {
  position: absolute;  /*main content puts in the top of the page*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 90vh;
  list-style: none;
  margin: 10px 1px ;
  max-width: 450px;

}

.navigation {
    max-width: 450px;
}

.wrapp {
    max-width: 450px;
}
ul a {

  text-decoration: none;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;

}

ul a:hover {
    background-color: black;
    color: white;
}


#main-content {
    margin-left: 30%;
    margin-right: 60px;
}

section {
    margin-top: 30px;
    height: 100vh;
    letter-spacing: 2px;
    line-height: 25px;
}

h2 {
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    margin-bottom: 15px;
}

.btn-upp {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 5px; 
  z-index: 99;
  border: none; 
  outline: none; 
  background-color: #555; 
  color: white; 
  cursor: pointer; 
  padding: 10px; 
  border-radius: 10px;
  font-size: 18px;
}

.btn-upp:hover {
    background-color: black; 
    color: white;
}






